
.transparente{
  background-color: rgba(0, 0, 0, 0.115);
}

.colorgris{
  color: rgba(255, 255, 255, 0.843);
}
.bluetech:hover{
  color: #007bff;
}
.bluetecnologico{
  color: #007bff;
}
.bg-bluetecnologico{
  background-color: #007bff;
}


.top-nav-collapse{
  background-color: #232c3d !important;
}

nav > .nav-elements{
  display: grid;
  grid-template-columns: 1fr auto;
}
nav > .nav-elements > ul{
  padding: 10px 0;
  text-align: center;
}
nav > .nav-elements > ul:nth-of-type(1){
  position: fixed;
  bottom: 82px;
  width: 43.67px;
  right: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #232c3d55;
}
nav > .nav-elements > ul:nth-of-type(2){
  flex-direction: row;
  justify-content: space-between;
}
nav > .nav-elements > ul:nth-of-type(2) > li{
  padding: 0 13px ;
}
nav > .nav-elements > ul > li > a:nth-of-type(1) > span{
  display: none;
}
nav > .nav-elements > ul > li > .dropdown-menu {
  top: 0;
  left: unset;
  right: 100%;
  min-width: unset;
  text-align: center;
}
nav > .nav-elements > ul > li > .dropdown-menu > .dropdown-item{
  padding: 1px 0;
  font-weight: 500;
}
.nav-item{
  font-weight: 500;
}
.nav-item:hover{
  color: #007bff;
}


/*Estilos Propios */
#cover{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cover > .cover-container{
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: minmax(100px, 300px);
  justify-content: center;
}
#cover > #particles-js{
  z-index: 0;
  position: absolute;
  /* background-color: #00202f; */
  /* background-color: #0073ff; */
  background: #012e44;
  background: linear-gradient(0deg, #012e44 0%, #0276af 100%);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}
#main-description,
#proyectos,
#herramientas,
#especializaciones {
  display: grid;
  grid-template-columns: minmax(290px, 1440px);
  justify-content: center;
}
section > h2{
  margin: 0;
}
section > p{
  font-weight: 500;
  font-size: larger;
}

#main-description > p > span{
  font-weight: bold;
  color: #0276af;
}
#main-description > .main-description-grid{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
#main-description > .main-description-grid > .img-container{
  justify-self: center;
  align-self: center;
}
#main-description > .main-description-grid > .description-grid > .item-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  text-align: center;
}
#main-description > .main-description-grid > .description-grid > .item-grid > i{
  margin: auto;
  display: none;
  padding-right: 10px;
}
#main-description > .main-description-grid > .description-grid > .item-grid > p{
  font-size: large;
}

#proyectos > h2{
  color: #fff;
}
#proyectos > hr, 
#especializaciones > hr{
  border-top: 2px solid #007bff ;
}


#herramientas > .grid-tools{
  display: grid;
  grid-template-columns: minmax(250px,500px);
  justify-content: center;
  grid-gap: 15px;
}
#herramientas > .grid-tools > .item-tools{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 35px auto;
  /* border: 1px solid green; */
}
#herramientas > .grid-tools > .item-tools > span{
  padding-right: 10px;
}
#herramientas > .grid-tools > .item-tools > h6{
  margin: 0;
}
#herramientas > .grid-tools > .item-tools > p{
  grid-column: 2 / 3;
}

#proyectos{
  background-color: #1c2331;
}
#proyectos > .grid-proyectos{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
#proyectos > p{
  color: #fff;
}
#proyectos > .grid-proyectos > .item-container{
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
#proyectos > .grid-proyectos > .item-container:nth-of-type(1){
  background-image: url(../img/programming-2.jpg);
}
#proyectos > .grid-proyectos > .item-container:nth-of-type(2){
  background-image: url(../img/bg-chulo.jpg);
}
#proyectos > .grid-proyectos > .item-container > .proyecto-item {
  padding: 40px 15px;
  border-radius: 10px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
#proyectos > .grid-proyectos > .item-container > .proyecto-item > h6 {
  font-size: x-large;
}
#proyectos > .grid-proyectos > .item-container > .proyecto-item > p {
  margin: 0;
}
#proyectos > .grid-proyectos > .item-container > .proyecto-item > a {
  justify-self: center;
}

#especializaciones{
  text-align: center;
  color: #fff;
}
#especializaciones > .grid-especializaciones{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

footer .footer-div > .grid-footer{
  margin-left: 20px;
  padding: 15px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr;  
  justify-content: start;
  /* text-align: center; */
}
footer .footer-div > .grid-footer > .logo-footer{
  align-self: center;
}
footer .footer-div > .grid-footer > .logo-footer > img{
  height: 150px;
  margin: 0 auto;
}
footer .footer-div > .grid-footer > .grid-footer-list{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  /* border: 1px solid #fff; */
}
footer .footer-div > .grid-footer > .grid-footer-list > h6{
  margin: 0;
  padding: 0;
  color: rgb(231, 231, 231);
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
footer .footer-div > .grid-footer > .grid-footer-list > hr{
  width: 60px;
  border-top: 2px solid #1c2331;
}
footer .footer-div > .grid-footer > .grid-footer-list > ul{
  padding: 0;
  padding: 0 10px;
  /* margin: 0; */
  list-style: none;
  font-weight: 400;
}
footer .footer-div > .grid-footer > .grid-footer-list > ul > li{
  color: rgba(0, 0, 0, 0.5);
  display: grid;
  padding: 5px 0;
  grid-template-columns: 20px 1fr;
  grid-gap: 5px;
}
footer .footer-div > .grid-footer > .grid-footer-list > ul > li > i{
  margin: auto;
}
footer .footer-div > .grid-footer > .grid-footer-list > ul > li > a{
  color: rgb(231, 231, 231);
  font-weight: 500;
}
footer a,
footer span,
footer > .footer-div > .footer-copyright{
  color: #fff;
  font-weight: 500;
}
footer > .footer-div > .footer-copyright > span{
  color: rgba(255, 255, 255, 0.75);

}

#contacto{
  background-color: #1c2331;
  display: grid;
  grid-template-columns: minmax(300px, 768px);
  justify-content: center;
}
#contacto > h1{
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
#contacto > hr{
  border-top: 2px solid #fff;
}
#contacto > form{
  /* width: 50%; */
  background-color: #111;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#contacto > form > label{
  font-weight: 500;
}
#contacto > form > input,
#contacto > form > textarea{
  outline: none;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(127, 127, 127);
  padding: 7px;
}
#contacto > form > button{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #007bff80;
  font-weight: bold;
}
#contacto > form > button:hover{
  color: #fff;
}
#contacto > form > textarea{
  height: 150px;
}

#servicios{
  height: 100vh;
  background-color: #1c2331;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 425px){
  #main-description > .main-description-grid > .description-grid > .item-grid{
    grid-template-columns: auto 1fr;
    text-align: justify;
  }
  
  #main-description > .main-description-grid > .description-grid > .item-grid > i{
    display: block;
  }
  #main-description > .main-description-grid > .description-grid > .item-grid > p{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: large;
    font-weight: 400;
  }

  footer .footer-div > .grid-footer{
    grid-template-columns: 1fr 1fr;  
  }
  footer .footer-div > .grid-footer > .grid-footer-list > ul{
    justify-self: center;
  }
}
@media screen and (min-width: 768px){
  
  nav > .nav-elements{
    width: 100%;
  } 
  nav > .nav-elements > ul:nth-of-type(1){
    position: unset;
    width: 100%;
    border-radius: unset;
    background-color: unset;
  }
  nav > .nav-elements > ul:nth-of-type(2) > li{
    padding: 0 8px ;
  }
  nav > .nav-elements > ul > li > .dropdown-menu {
    top: 100%;
    left: 0;
    right: unset;
    min-width: 10rem;
  }
  nav > .nav-elements > ul > li > a:nth-of-type(1) > span{
    display: inline-block;
    padding-left: 5px;
  }
  nav > .nav-elements > ul > li > .dropdown-menu > .dropdown-item{
    padding: .5rem;
    text-align: start;
  }
  
  #proyectos > .grid-proyectos{
    grid-template-columns: repeat(2, 1fr);
  }

  #especializaciones > .grid-especializaciones{
    grid-template-columns: repeat(3, 1fr);
  }

  #herramientas > .grid-tools{
    grid-template-columns: repeat(2, 1fr);
  }

  footer .footer-div > .grid-footer{
    grid-template-columns: auto minmax(100px, 300px) minmax(100px, 300px);  
  }
}
@media screen and (min-width: 992px){
  #herramientas > .grid-tools{
    grid-template-columns: repeat(3, 1fr);
  }
  footer .footer-div > .grid-footer{
    margin-left: 100px;
  }
  footer .footer-div > .grid-footer > .grid-footer-list > ul{
    padding: 0 30px;
  }
}
@media screen and (min-width: 1024px){
  #main-description > .main-description-grid{
    grid-template-columns: minmax(300px,500px) minmax(300px, 700px);
  }
}
.w-1vw{
  width: 1vw;
}
.w-2vw{
  width: 2vw;
}
.w-3vw{
  width: 3vw;
}
.w-4vw{
  width: 4vw;
}
.w-5vw{
  width: 5vw;
}
.w-6vw{
  width: 6vw;
}
.w-7vw{
  width: 7vw;
}
.w-8vw{
  width: 8vw;
}
.w-9vw{
  width: 9vw;
}
.w-10vw{
  width: 10vw;
}
.w-11vw{
  width: 11vw;
}
.w-12vw{
  width: 12vw;
}
.w-13vw{
  width: 13vw;
}
.w-14vw{
  width: 14vw;
}
.w-15vw{
  width: 15vw;
}
.w-16vw{
  width: 16vw;
}
.w-17vw{
  width: 17vw;
}
.w-18vw{
  width: 18vw;
}
.w-19vw{
  width: 19vw;
}
.w-20vw{
  width: 20vw;
}
.w-21vw{
  width: 21vw;
}
.w-22vw{
  width: 22vw;
}
.w-23vw{
  width: 23vw;
}
.w-24vw{
  width: 24vw;
}
.w-25vw{
  width: 25vw;
}
@media (min-width: 576px){
  .w-sm-1vw{
    width: 1vw;
  }
  .w-sm-2vw{
    width: 2vw;
  }
  .w-sm-3vw{
    width: 3vw;
  }
  .w-sm-4vw{
    width: 4vw;
  }
  .w-sm-5vw{
    width: 5vw;
  }
  .w-sm-6vw{
    width: 6vw;
  }
  .w-sm-7vw{
    width: 7vw;
  }
  .w-sm-8vw{
    width: 8vw;
  }
  .w-sm-9vw{
    width: 9vw;
  }
}
@media (min-width: 768px){
  .w-md-1vw{
    width: 1vw;
  }
  .w-md-2vw{
    width: 2vw;
  }
  .w-md-3vw{
    width: 3vw;
  }
  .w-md-4vw{
    width: 4vw;
  }
  .w-md-5vw{
    width: 5vw;
  }
}
@media (min-width: 992px){
 .w-lg-1vw{
    width: 1vw;
  }
 .w-lg-2vw{
    width: 2vw;
  }
  .w-lg-2´5vw{
    font-size: 2.5vw;
  }
 .w-lg-3vw{
    width: 3vw;
  }
 .w-lg-4vw{
    width: 4vw;
  }
 .w-lg-5vw{
    width: 5vw;
  }
}
@media (min-width: 1200px){
  .w-xl-1vw{
     width: 1vw;
   }
  .w-xl-2vw{
     width: 2vw;
   }
  .w-xl-3vw{
     width: 3vw;
   }
  .w-xl-4vw{
     width: 4vw;
   }
  .w-xl-5vw{
     width: 5vw;
   }
}
.f-auto{
  font-size: initial;
}
.f-1vw{
  font-size: 1vw;
}
.f-2vw{
  font-size: 2vw;
}
.f-3vw{
  font-size: 3vw;
}
.f-4vw{
  font-size: 4vw;
}
.f-5vw{
  font-size: 5vw;
}
.f-6vw{
  font-size: 6vw;
}
.f-7vw{
  font-size: 7vw;
}
.f-8vw{
  font-size: 8vw;
}
.f-9vw{
  font-size: 9vw;
}
.f-10vw{
  font-size: 10vw;
}
.f-11vw{
  font-size: 11vw;
}
.f-12vw{
  font-size: 12vw;
}
.f-13vw{
  font-size: 13vw;
}
.f-14vw{
  font-size: 14vw;
}
.f-15vw{
  font-size: 15vw;
}
.f-16vw{
  font-size: 16vw;
}
.f-17vw{
  font-size: 17vw;
}
.f-18vw{
  font-size: 18vw;
}
.f-19vw{
  font-size: 19vw;
}
.f-20vw{
  font-size: 20vw;
}
.f-21vw{
  font-size: 21vw;
}
.f-22vw{
  font-size: 22vw;
}
.f-23vw{
  font-size: 23vw;
}
.f-24vw{
  font-size: 24vw;
}
.f-25vw{
  font-size: 25vw;
}
@media (min-width: 576px){
  .f-sm-auto{
    font-size: initial;
  }
  .f-sm-1vw{
    font-size: 1vw;
  }
  .f-sm-2vw{
    font-size: 2vw;
  }
  .f-sm-3vw{
    font-size: 3vw;
  }
  .f-sm-4vw{
    font-size: 4vw;
  }
  .f-sm-5vw{
    font-size: 5vw;
  }
  .f-sm-6vw{
    font-size: 6vw;
  }
  .f-sm-7vw{
    font-size: 7vw;
  }
  .f-sm-8vw{
    font-size: 8vw;
  }
  .f-sm-9vw{
    font-size: 9vw;
  }
}
@media (min-width: 768px){
  .f-md-auto{
    font-size: initial;
  }
  .f-md-1vw{
    font-size: 1vw;
  }
  .f-md-1´5vw{
    font-size: 1.5vw;
  }
  .f-md-2vw{
    font-size: 2vw;
  }
  .f-md-3vw{
    font-size: 3vw;
  }
  .f-md-4vw{
    font-size: 4vw;
  }
  .f-md-5vw{
    font-size: 5vw;
  }
  .f-md-6vw{
    font-size: 6vw;
  }
  .f-md-7vw{
    font-size: 7vw;
  }
  .f-md-8vw{
    font-size: 8vw;
  }
  .f-md-9vw{
    font-size: 9vw;
  }
  .f-md-10vw{
    font-size: 10vw;
  }
 }
@media (min-width: 992px){
  .f-lg-auto{
    font-size: initial;
  }
 .f-lg-1vw{
    font-size: 1vw;
  }
 .f-lg-2vw{
    font-size: 2vw;
  }
  .f-lg-2´5vw{
    font-size: 2.5vw;
  }
 .f-lg-3vw{
    font-size: 3vw;
  }
 .f-lg-4vw{
    font-size: 4vw;
  }
 .f-lg-5vw{
    font-size: 5vw;
  }
 .f-lg-6vw{
    font-size: 6vw;
  }
 .f-lg-7vw{
    font-size: 7vw;
  }
 .f-lg-8vw{
    font-size: 8vw;
  }
 .f-lg-9vw{
    font-size: 9vw;
  }
 .f-lg-10vw{
    font-size: 10vw;
  }
}
@media (min-width: 1200px){
  .f-xl-auto{
    font-size: initial;
  }
  .f-xl-1vw{
     font-size: 1vw;
   }
  .f-xl-2vw{
     font-size: 2vw;
   }
  .f-xl-3vw{
     font-size: 3vw;
   }
  .f-xl-4vw{
     font-size: 4vw;
   }
  .f-xl-5vw{
     font-size: 5vw;
   }
 }

 .fa-1´5x{
  font-size: 1.5em;
 }






/* Otros estilos */

/* wow hidden */
.wow {
  visibility: hidden;
}
/* wow hidden */



@media (max-width: 992px) {
  .news-tile .card-title {
    font-size: 1.2rem;
  }
}

.news-tile .card-title {
  position: absolute;
  bottom: 15px;
  left: 30px;
  text-align: left;
}
.news-tile h4 {
  font-size: 1.2rem;
}

.news-tile h3 {
  font-size: 1.6rem;
}

.rgba-stylish-strong {
  background-color: rgba(62, 69, 81, .5);
}

.view:hover {
  -webkit-filter: brightness(140%);
  transition: all .4s ease-in-out;
}

.view {
  transition: all .4s ease-in-out;
}
